/*App.css*/
.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  z-index: 1;
}


.bg-bluesy {
  background-color: #87a9cc;
}

.bluesy {
  color: #87a9cc;
}

.tsparticles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}