/*index.css*/
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(135,169,204) 0%, rgb(204,170,135) 100%);
}

button {
  cursor: pointer;
}

